apipkg==1.5
atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
execnet==1.5.0
idna==2.8
lxml==4.3.2
more-itertools==7.0.0
pathlib2==2.3.3
pluggy==0.9.0
py==1.8.0
requests==2.21.0
six==1.12.0
soupsieve==1.8
urllib3==1.24.2
pytest==4.6.5
pytest-forked==1.0.2
pytest-xdist==1.29.0
delayed-assert==0.3.2
